.trip-dashboard {
    background-color: #ecf0f1;
    padding: 30px;
    margin: 0 auto;
}

.trip-dashboard__start-trip-error {
    color: red;
}

.start-stop-btn {
    background-color: #2980b9;
    font-size: 40px
}