.number-unit {
  font-size: 120%;
}

.number-unit__number {
  font-size: 150%;
  color: #e74c3c;
  font-weight: bold;
}

.number-unit__title {
  font-size: 90%;
  font-weight: bold;
}

.number-unit.is-large {
  .number-unit__title {
    font-size: 140%;
  }

  .number-unit__number {
    font-size: 420%;
    padding: 0.25em;
  }
  .number-unit__unit {
    font-size: 130%;
  }
}
